<h1>My cocktails bitch </h1>

<p>
<% @cocktails.each do |cocktail| %>
<li> <%= cocktail.name %> </li>
<%=  link_to "Show", cocktail_path(cocktail) %>
<% end %>
<%=  link_to "New", new_cocktail_path %>

<%=cl_image_tag("rjg0xaklfwyfyulfsd5p",
      width: 400, height: 300, crop: :fit) %>

</p>
